RewriteEngine On
RewriteCond %{index.php} !-f

RewriteRule ^my-classes/([0-9-]*)$ my-classes.php?class_id=$1& [NC,L]
RewriteRule ^reset-password/([a-zA-Z0-9-]*)/([a-zA-Z0-9-]*)$ reset-password.php?selector=$1&validator=$2 [NC,L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]
